$theme-color: purple;

html, body {
	background-color: #ffffff;
	overflow: hidden;
}

#main-body {
	position: absolute;
	top: 0;
	left: 0;
	width: 75%;
	height: 100%;
	display: inline-block;
	// padding: 20px;
	// margin-top: 30px;
	overflow-y: scroll;
	font-size: 1.3em;


	#header {
		padding: 20px 20px 0 20px;
		font-size: 30px;
		font-weight: bold;
		color: $theme-color;

		#position {
			font-style: italic;
			font-size: 16px;
			font-weight: 400;
		}
	}

	#sub-header {
		padding: 0 20px 20px 20px;
		font-style: italic;
		font-size: 0.9em;
	}

	hr {
		margin-left: 20px;
	}

	#content {
		padding: 20px;

		.content-head {
			color: $theme-color;
			font-weight: bold;
			text-decoration: underline;
			margin-bottom: 10px;
		}

		.content-subhead {
			ul {
				li {
					.item-head {
						font-style: italic;
					}
				}
			}

			.content-subhead-title {
				color: $theme-color;
				text-decoration: underline;
				padding-left: 10px;
			}

			.content-subhead-items {
				ol {
					li {
						// padding-right: 10px;

						.item-text {
							font-size: 0.7em;
							margin-bottom: 10px;
						}
					}
				}
				// margin-bottom: 30px;
			}
		}
	}

	.content-pdf-view {
		padding-left: 20px;
		margin-bottom: 20px;
		font-size: 0.5em;
	}
}

#side-body {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
	color: #ffffff;
	border-left: solid 1px;
	background-color: $theme-color;
	display: inline-block;
	font-size: 1.3em;
	overflow-y: scroll;
	// transition: ease;

	.header-1 {
		margin-top: 7.5em;
	}

	.header {
		padding: 20px;
		font-weight: bold;
		text-decoration: underline;
		margin-bottom: 10px;
	}

	.content {
		padding: 0 20px 15px 20px;

		.content-head {
			font-size: 0.8em;
			margin-bottom: 3px;
		}

		.content-text {
			font-size: 0.7em;
		}
	}

	a {
		text-decoration: none;
		color: #ffffff;
		text-decoration: underline;
	}

	hr {
		color: #ffffff;
		margin: 0 20px;
	}
}

#about-button {
	position: absolute;
	transform: rotate(270deg);
	top: 150px;
	right: -32px;
	z-index: 3;
	cursor: pointer;
	background-color: #ffffff;
	padding: 10px 30px;
	border: solid 1px;
	border-bottom: none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: none;
}

@media only screen and (max-width: 992px) {
	#main-body {
		width: auto;
	}

	#side-body {
		// z-index: 2;
		display: none;
		width: auto;
		// left: 0;
		border: none;
	}

	#about-button {
		display: inline-block;
	}
}